:where(:root) {
  --line-height-none: 0;
  --line-height-tight: 1.1;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.72;

  --line-height-heading-xl: 1.15;
  --line-height-heading-lg: 1.2;
  --line-height-heading-md: 1.3;
  --line-height-heading-sm: 1.35;
  --line-height-heading-xs: 1.45;
}
